<footer style="justify-content: center;align-items: center;display: flex;flex-direction: column;">
    <div class="f-info">
        <div class="socialMediaIcons" style="display: flex;flex-direction: row;flex-wrap: wrap;">
            <a style="font-size: 2rem;margin-right: 0.5rem;cursor: pointer;"><i class="fa-brands fa-facebook"></i></a>
            <a style="font-size: 2rem;margin-right: 0.5rem;cursor: pointer;"><i class="fa-brands fa-instagram"></i></a>
            <a style="font-size: 2rem;margin-right: 0.5rem;cursor: pointer;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="companyname"> &copy;<span style="-webkit-text-stroke-color: #3d4a5e; -webkit-text-stroke: 2px;-webkit-text-fill-color: transparent; font-family: Merienda, cursive;">E</span>-commerce&nbsp;Website</div>
        <div class="a-div" style="display: flex;flex-direction: row;">
            <a style="text-decoration: none;color: black;" href="/privacy" class="a-tags">Privacy</a>&nbsp;
            <a style="text-decoration: none;color: black;" href="/terms" class="a-tags">Terms</a>
        </div>
    </div>
</footer>