<% layout("/layouts/boilerplate.ejs")%>
<style>
  
</style>
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      <%if(err.status == 404){%>
        <div >
          <img style="width: 100%;" src="https://cdni.iconscout.com/illustration/premium/thumb/404-error-page-2952323-2451625.png">
          
        <!-- <form action="/E-commerce/homepage/allcategories/monitors/keyboards/controllers/mouse/graphiccards" method="get">
          <button type="submit" style="background-color: transparent;border: 2px solid red; border-radius: 1rem;color: red;">Back to Home</button>
        </form> -->
        </div>
      <%}else{%>
        <h2 class="alert-heading" id="alertStatus"><%=err.status%></h2>
        <p class="alert-heading" id="alertMessage"><%=err.message%></p>
      <%}%>

    </div>
  </div>